:root {
    --ancho_card: 500px;
    --color_primario: #242423;
    --color_secundario: #333533;
    --bg_gradient_body: linear-gradient(0deg, rgba(36,36,37,1) 0%, rgba(51,53,51,1) 100%);;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Open Sans', serif;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background: var(--bg_gradient_body);
    overflow: hidden;
}

.app {
    position: relative;
    text-align: center;
}

.card, .card_asistencia {
    width: var(--ancho_card);
    border-radius: 15px 15px;
    border: 0px solid #000000;
    color: var(--color_primario);
    box-shadow: 0px 13px 17px 5px rgba(0,0,0,1);
    background: linear-gradient(45deg, rgba(245,203,92,1) 0%, rgba(207,219,213,1) 100%);
}

.card {
    padding-bottom: 20px;
}

.card h2 {
    font-family: 'Oswald', serif;
    color: var(--color_secundario);
}

.card_asistencia {
    margin-top: 40px;
    visibility: hidden;
}

.wrapper_fecha p {
    display: inline-block;
}

.wrapper_asistencia {
    font-family: 'Oswald';
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color_secundario);
}

/*Para ver en pantallas menores a 490px*/
@media only screen and (max-width: 600px){
    .card, .card_asistencia {
       height: auto;
       width: auto;
    }
}