:root {
    --ancho_card: 500px;
    --color_primario: #242423;
    --color_secundario: #333533;
    --bg_gradient_body: linear-gradient(180deg, rgba(11, 40, 56, 0.705) 0%, #011627 100%);
    --bg_card: #0B3444;
    --color_texto: #D4D8DC;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Open Sans', serif;
    display: flex;
    justify-content: center;
    align-items: top;
    height: 100vh;
    background: var(--bg_gradient_body);
    overflow: hidden;
}

.app {
    position: relative;
    text-align: center;
}

.card, .card_asistencia {
    width: var(--ancho_card);
    border-radius: 15px 15px;
    border: 0px solid #000000;
    color: var(--color_texto);
    box-shadow: 0px 10px 10px 2px rgba(0,0,0,1);
    background: var(--bg_card);
}

.card {
    padding-bottom: 20px;
}

.card h2 {
    font-family: 'Oswald', serif;
    color: var(--color_texto);
}

.card_asistencia {
    margin-top: 40px;
    visibility: hidden;
}

.wrapper_fecha p {
    display: inline-block;
}

.wrapper_asistencia {
    font-family: 'Oswald';
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 4px;
    color: var(--color_texto);
    text-shadow: 3px 6px 4px rgba(0, 0, 0, 0.7);
}

/*Estilos para el formulario e inputs*/
.date, .assistence {
    width: 200px;
    margin: 10px 0;
}

.btn_send {
	background:var(--bg_gradient_body);
	background-color:#599bb3;
	border-radius:10px;
	border:1px solid var(--color_primario);
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans', serif;
	font-size:16px;
    font-weight:bold;
    height: auto;
    padding:13px 32px;
    letter-spacing: 2pt;
    text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
}
.btn_send:hover {
	background: linear-gradient(top, rgba(70,129,163,1) 0%, rgba(57,92,117,1) 100%);
	background-color:#408c99;
}
.btn_send:active {
	position:relative;
	top:1px;
}

/*Para ver en pantallas menores a 490px*/
@media only screen and (max-width: 600px){
    .card, .card_asistencia {
       height: auto;
       width: auto;
    }
}